---
# SPDX-License-Identifier: MIT-0
# Developer role - Main entry point
# This role installs a complete development environment including:
# - System compilers and development tools (includes Rust via dnf)
# - Bun JavaScript runtime
# - uv Python package manager

# Compilers & CLI Tools
- name: Install compilers and CLI tools
  ansible.builtin.import_tasks: compilers.yml
  tags:
    - developers
    - compilers

# Bun runtime
- name: Install Bun
  ansible.builtin.import_tasks: bun.yml
  when: developer_install_bun
  tags:
    - developers
    - bun

# Python tooling
- name: Install Python tooling
  ansible.builtin.import_tasks: python.yml
  when: developer_install_uv
  tags:
    - developers
    - python

# Flutter SDK
- name: Install Flutter SDK
  ansible.builtin.import_tasks: flutter.yml
  when: developer_install_flutter
  tags:
    - developers
    - flutter

# Android SDK
- name: Install Android SDK
  ansible.builtin.import_tasks: android-sdk.yml
  when: developer_install_android_sdk
  tags:
    - developers
    - android
