---
# SPDX-License-Identifier: MIT-0
# Node.js installation via nvm (Node Version Manager)

- name: Install nvm (Node Version Manager)
  ansible.builtin.shell:
    cmd: "curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/{{ developer_nvm_version }}/install.sh | bash"
  args:
    creates: "{{ ansible_env.HOME }}/.nvm/nvm.sh"
  become: false
  tags:
    - nodejs
    - javascript

- name: Install Node.js via nvm
  ansible.builtin.shell:
    cmd: |
      export NVM_DIR="$HOME/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
      nvm install {{ developer_node_version }}
      nvm alias default {{ developer_node_version }}
  args:
    executable: /bin/bash
  become: false
  register: nvm_install
  changed_when: "'is already installed' not in nvm_install.stderr"
  tags:
    - nodejs
    - javascript

- name: Verify Node.js installation
  ansible.builtin.shell:
    cmd: |
      export NVM_DIR="$HOME/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
      node -v
  args:
    executable: /bin/bash
  register: node_version
  changed_when: false
  become: false
  tags:
    - nodejs
    - javascript

- name: Display Node.js version
  ansible.builtin.debug:
    msg: "Node.js {{ node_version.stdout }} installed"
  when: node_version.stdout is defined
  tags:
    - nodejs
    - javascript
