---
- name: update
  hosts: localhost
  become: yes
  tasks:
    - name: update
      dnf:
        name: "*"
        state: latest

- name: install dev tool
  hosts: localhost
  become: yes
  tasks:
    - name: install system package
      dnf:
        name:
          - curl
          - wget
          - ufw
          - zram
          - tlp
          - clang
          - gcc
          - cmake
          - gdb
          - git
          - neovim
          - htop
          - tmux
          - golang
        state: present

- name: install rust
  hosts: localhost
  tasks:
    - name: install rust
      shell: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      args:
        creates: ~/.cargo/bin/rustc

- name: install docker and docker compose
  hosts: localhost
  become: yes
  tasks:
    - name: remove old docker 
      dnf:
        name:
          - docker
          - docker-client
          - docker-client-latest
          - docker-common
          - docker-latest
          - docker-latest-logrotate
          - docker-logrotate
          - docker-selinux
          - docker-engine-selinux
          - docker-engine
        state: absent
    - name: add docker repo
      shell: dnf config-manager addrepo --from-repofile https://download.docker.com/linux/fedora/docker-ce.repo
      args:
        creates: /etc/yum.repos.d/docker-ce.repo

    - name: install docker package
      dnf:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: present
    - name: start docker and enable service
      systemd:
        name: docker
        state: started
        enable: yes
    - name: add userto docker group
      user:
        name: "{{ ansible_user_id }}"
        groups: docker
        append: yes

- name: install program using flatpak
  hosts: localhost
  tasks:
    - name: install flatpak application
      flatpak:
        name:
          - com.discordapp.Discord
          - com.getpostman.Postman
          - org.signal.Signal

- name: install brave
  hosts: localhost
  become: yes
  tasks:
    - name: add brave repo
      shell: dnf config-manager --add-repo https://brave-browser-rpm-release.s3.brave.com/brave-browser.repo
      args:
        creates: /etc/yum.repos.d/brave-browser.repo
    - name: install brave
      dnf:
        name: brave-browser
        state: present

- name: install vscode
  hosts: localhost
  become: yes
  tasks:
    - name: import microsoft gpg key
      rpm_key: https://packages.microsoft.com/keys/microsoft.asc
      state: present
    - name: add vscode repo
      yum_repository:
        name: code
        description: Visual Studio Code
        baseurl: https://packages.microsoft.com/yumrepos/vscode
        gpgcheck: yes
        gpgkey: https://packages.microsoft.com/keys/microsoft.asc
        enabled: yes
    - name: install vscode
      dnf:
        name: code
        state: present

  
