---
- name: config dnf
  hosts: localhost
  become: yes
  tasks:
    - name: configure dnf for faster downloads
    blockinfile:
        path: /etc/dnf/dnf.conf
        block: |
          max_parallel_downloads=20
          fastestmirror=True
          deltarpm=True
        marker: "# {mark} ANSIBLE MANAGED BLOCK"

- name: update
  hosts: localhost
  become: yes
  tasks:
    - name: update
      dnf:
        name: "*"
        state: latest

- name: install dev tool
  hosts: localhost
  become: yes
  tasks:
    - name: install system package
      dnf:
        name:
          - curl
          - wget
          - ufw
          - zram
          - tlp
          - clang
          - gcc
          - cmake
          - gdb
          - git
          - neovim
          - htop
          - tmux
          - golang
          - dnf-plugins-core
          - alacritty
          - python3
          - python3-pip
        state: present

- name: install rust
  hosts: localhost
  tasks:
    - name: install rust
      shell: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      args:
        creates: ~/.cargo/bin/rustc

- name: install docker and docker compose
  hosts: localhost
  become: yes
  tasks:
    - name: remove old docker 
      dnf:
        name:
          - docker
          - docker-client
          - docker-client-latest
          - docker-common
          - docker-latest
          - docker-latest-logrotate
          - docker-logrotate
          - docker-selinux
          - docker-engine-selinux
          - docker-engine
        state: absent
    - name: add docker repo
      shell: dnf config-manager addrepo --from-repofile https://download.docker.com/linux/fedora/docker-ce.repo
      args:
        creates: /etc/yum.repos.d/docker-ce.repo

    - name: install docker package
      dnf:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: present
    - name: start docker and enable service
      systemd:
        name: docker
        state: started
        enable: yes
    - name: add userto docker group
      user:
        name: "{{ ansible_user_id }}"
        groups: docker
        append: yes

- name: install program using flatpak
  hosts: localhost
  tasks:
    - name: install flatpak application
      flatpak:
        name:
          - com.discordapp.Discord
          - com.getpostman.Postman
          - org.signal.Signal

- name: install brave
  hosts: localhost
  become: yes
  tasks:
    - name: add brave repo
      shell: dnf config-manager --add-repo https://brave-browser-rpm-release.s3.brave.com/brave-browser.repo
      args:
        creates: /etc/yum.repos.d/brave-browser.repo
    - name: install brave
      dnf:
        name: brave-browser
        state: present

- name: install vscode
  hosts: localhost
  become: yes
  tasks:
    - name: import microsoft gpg key
      rpm_key: 
        rpm: https://packages.microsoft.com/keys/microsoft.asc
        state: present
    - name: add vscode repo
      yum_repository:
        name: code
        description: Visual Studio Code
        baseurl: https://packages.microsoft.com/yumrepos/vscode
        gpgcheck: yes
        gpgkey: https://packages.microsoft.com/keys/microsoft.asc
        enabled: yes
    - name: install vscode
      dnf:
        name: code
        state: present

- name: install and setup fish shell hosts: localhost become: yes
  tasks:
    - name: install fish shell
      dnf: 
        name: fish
        state: present
    - name: ensure fish in /etc/shells
      lineinfile:
        path: /etc/shells
        line: /usr/bin/fish
        state: present
    - name: change all user to fish shell
      shell: "getent passwd | awk -F: '$3 >= 1000 && $3 < 65534 {print $1}'"
      register: all_users
      changed_when: false
    - name: set fish as default shell for all users
      user:
        name: "{{ item }}"
        shell: /usr/bin/fish
      loop: "{{ all_users.stdout_lines }}"


- name: install fisher and plugins
  hosts: localhost
  tasks:
    - name: install fisher
      shell: |
        fish -c "curl -sL https://raw.githubusercontent.com/jorgebucaran/fisher/main/functions/fisher.fish | source && fisher install jorgebucaran/fisher"
      args:
        creates: ~/.config/fish/functions/fisher.fish
        
    - name: install nvm.fish
      shell: |
        fish -c "fisher install jorgebucaran/nvm.fish"
      args:
        creates: ~/.config/fish/conf.d/nvm.fish
        
    - name: wait for nvm to be ready
      pause:
        seconds: 2
        
    - name: install node.js lts
      shell: |
        fish -c "nvm install lts"

- name: install bun
  hosts: localhost
  tasks:
    - name: install bun
      shell: "curl -fsSL https://bun.com/install | bash"
      args:
        creates: ~/.bun/bin/bun
    - name: verify bun installation
      shell: ~/.bun/bin/bun --version
      register: bun_version
      changed_when: false

- name: virtual fish
  hosts: localhost
  tasks:
    - name: install virtual fish
      pip:
        name: virtualfish
        extra_args: --user
        state: present
    - name: setup virtualfish in fish shell
      shell: fish -c "vf install"
      args:
        creates: ~/.config/fish/conf.d/virtualfish-loader.fish
      
