# SPDX-License-Identifier: MIT-0
---
# Install Flatpak applications

- name: Add Flathub remote
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: "{{ desktop_flathub_repo_url }}"
  become: true

- name: Install Flatpak applications
  community.general.flatpak:
    name: "{{ desktop_flatpak_apps_list }}"
    state: present
