#SPDX-License-Identifier: MIT-0
---
# Install Flatpak applications

- name: install flatpak applications
  community.general.flatpak:
    name:
      - com.discordapp.Discord
      - com.getpostman.Postman
      - org.signal.Signal
      - com.obsproject.Studio
      - net.ankiweb.Anki
    state: present
