# SPDX-License-Identifier: MIT-0
---
# tasks file for roles/desktop

- name: Install desktop packages
  ansible.builtin.import_tasks: packages.yml
  tags:
    - desktop
    - packages

- name: Install GNOME extensions
  ansible.builtin.import_tasks: gnome-extensions.yml
  tags:
    - desktop
    - gnome

- name: Install Zed editor
  ansible.builtin.import_tasks: zed.yml
  tags:
    - desktop
    - zed

- name: Install Starship prompt
  ansible.builtin.import_tasks: starship.yml
  tags:
    - desktop
    - starship

- name: Install Flatpak applications
  ansible.builtin.import_tasks: flatpak-apps.yml
  tags:
    - desktop
    - flatpak

- name: Install Typst
  ansible.builtin.import_tasks: typst.yml
  tags:
    - desktop
    - typst
