#SPDX-License-Identifier: MIT-0
---
# tasks file for roles/desktop
- name: install desktop package
  dnf:
    - okular
    - xclip
    - alacritty

- name: add brave repo
  shell: dnf config-manager --add-repo https://brave-browser-rpm-release.s3.brave.com/brave-browser.repo
  args:
    creates: /etc/yum.repos.d/brave-browser.repo

- name: install brave
  dnf:
    name: brave-browser
    state: present

- name: import microsoft gpg key
  rpm_key:
    key: https://packages.microsoft.com/keys/microsoft.asc
    state: present

- name: add vscode repo
  yum_repository:
    name: code
    description: Visual Studio Code
    baseurl: https://packages.microsoft.com/yumrepos/vscode
    gpgcheck: yes
    gpgkey: https://packages.microsoft.com/keys/microsoft.asc
    enabled: yes

- name: install vscode
  dnf:
    name: code
    state: present

- name: install flatpak applications
  flatpak:
    name:
      - com.discordapp.Discord
      - com.getpostman.Postman
      - org.signal.Signal
    state: present
