#SPDX-License-Identifier: MIT-0
---
# tasks file for roles/desktop

- name: import packages tasks
  ansible.builtin.import_tasks: packages.yml

- name: import vscode tasks
  ansible.builtin.import_tasks: vscode.yml

- name: import starship tasks
  ansible.builtin.import_tasks: starship.yml

- name: import flatpak applications tasks
  ansible.builtin.import_tasks: flatpak-apps.yml

- name: import brave browser tasks
  ansible.builtin.import_tasks: brave.yml

