#SPDX-License-Identifier: MIT-0
---
# Install desktop package management and applications

- name: Install Flatpak
  ansible.builtin.dnf:
    name: flatpak
    state: present

- name: Add Flathub remote
  ansible.builtin.command:
    cmd: flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo

- name: Install desktop packages
  ansible.builtin.dnf:
    name:
      - okular
      - xclip
      - gnome-extensions-app
      - gnome-tweaks
    state: present
