#SPDX-License-Identifier: MIT-0
---
# Install and configure Starship prompt

- name: Install Starship prompt
  ansible.builtin.shell: curl -sS {{ starship_install_url }} | sh -s -- --yes
  args:
    creates: /usr/local/bin/starship

- name: Configure Starship for all users
  ansible.builtin.lineinfile:
    path: /etc/bashrc
    line: 'eval "$(starship init bash)"'
    state: present
    create: true
