---
# SPDX-License-Identifier: MIT-0
# Handlers file for docker role

- name: DNF cache updated
  ansible.builtin.debug:
    msg: "DNF cache updated. Docker repository is now available."

- name: Restart Docker
  ansible.builtin.systemd:
    name: docker
    state: restarted
    daemon_reload: true
  become: true

- name: Reload Docker daemon
  ansible.builtin.systemd:
    name: docker
    state: reloaded
  become: true

- name: User added to docker group
  ansible.builtin.debug:
    msg: |
      IMPORTANT: You must log out and log back in for the group changes to take effect.
      Alternatively, run: newgrp docker

- name: Docker daemon configuration changed
  ansible.builtin.systemd:
    name: docker
    state: restarted
    daemon_reload: true
  become: true
  when: docker_daemon_config is defined
