# SPDX-License-Identifier: MIT-0
---
# tasks file for roles/font

- name: Create font directories
  ansible.builtin.file:
    path: "{{ item.dir }}"
    state: directory
    mode: "0755"
  loop: "{{ font_fonts }}"

- name: Check if font archives exist
  ansible.builtin.stat:
    path: "{{ item.zip }}"
  loop: "{{ font_fonts }}"
  register: font_archives_stat
  notify: Refresh font cache

- name: Download fonts
  ansible.builtin.get_url:
    url: "{{ item.url }}"
    dest: "{{ item.zip }}"
    mode: "0644"
  loop: "{{ font_fonts }}"
  loop_control:
    index_var: idx
  when: not font_archives_stat.results[idx].stat.exists
  notify: Refresh font cache

- name: Extract fonts
  ansible.builtin.unarchive:
    src: "{{ item.zip }}"
    dest: "{{ item.dir }}"
    remote_src: true
    mode: "a+rX"
  loop: "{{ font_fonts }}"
  loop_control:
    index_var: idx
  when: not font_archives_stat.results[idx].stat.exists
  notify: Refresh font cache
