#SPDX-License-Identifier: MIT-0
---
# tasks file for roles/font

- name: create font directories
  ansible.builtin.file:
    path: "{{ item.dir }}"
    state: directory
    mode: '0755'
  loop: "{{ fonts }}"

- name: download fonts
  ansible.builtin.get_url:
    url: "{{ item.url }}"
    dest: "{{ item.zip }}"
    mode: '0644'
  loop: "{{ fonts }}"
  notify: refresh font cache

- name: unzip fonts
  ansible.builtin.unarchive:
    src: "{{ item.zip }}"
    dest: "{{ item.dir }}"
    remote_src: yes
    mode: '0644'
  loop: "{{ fonts }}"
  notify: refresh font cache
