---
# SPDX-License-Identifier: MIT-0
# Main tasks for font role
# Installs programming fonts (JetBrains Mono, Fira Code, and Inter)
# and local font files system-wide for all users

- name: Check if JetBrains Mono fonts COPR is enabled
  ansible.builtin.command:
    cmd: "dnf copr list --enabled"
  register: font_copr_list
  changed_when: false
  failed_when: false

- name: Enable JetBrains Mono fonts COPR repository
  ansible.builtin.command:
    cmd: "dnf copr enable {{ font_jetbrains_copr_repo }} -y"
  when: "font_jetbrains_copr_repo not in font_copr_list.stdout"
  changed_when: false

- name: Enable Inter fonts COPR repository
  ansible.builtin.command:
    cmd: "dnf copr enable {{ font_inter_copr_repo }} -y"
  when: "font_inter_copr_repo not in font_copr_list.stdout"
  changed_when: false

- name: Install programming fonts
  ansible.builtin.dnf:
    name: "{{ font_packages }}"
    state: present

- name: Install Sarabun font (Thai)
  ansible.builtin.import_tasks: install_sarabun.yml
  when: font_sarabun_install_enabled | bool

- name: Install local font files system-wide
  ansible.builtin.import_tasks: install_local_fonts.yml
