---
# SPDX-License-Identifier: MIT-0
# Main tasks for font role
# Installs programming fonts (JetBrains Mono, Fira Code, and Inter)
# and local font files system-wide for all users

- name: Enable JetBrains Mono fonts COPR repository
  ansible.builtin.command:
    cmd: "dnf copr enable {{ font_jetbrains_copr_repo }} -y"
  changed_when: true

- name: Enable Inter fonts COPR repository
  ansible.builtin.command:
    cmd: "dnf copr enable {{ font_inter_copr_repo }} -y"
  changed_when: true

- name: Install programming fonts
  ansible.builtin.dnf:
    name: "{{ font_packages }}"
    state: present

- name: Install local font files system-wide
  ansible.builtin.import_tasks: install_local_fonts.yml
