---
# SPDX-License-Identifier: MIT-0
# DNF configuration tasks

- name: Configure DNF performance settings
  ansible.builtin.blockinfile:
    path: /etc/dnf/dnf.conf
    block: |
      max_parallel_downloads={{ common_dnf_max_parallel_downloads }}
      fastestmirror={{ common_dnf_fastestmirror }}
      deltarpm={{ common_dnf_deltarpm }}
    marker: "# {mark} ANSIBLE MANAGED BLOCK"
    create: true
    mode: "0644"
  become: true
  notify:
    - DNF configuration changed
  tags:
    - dnf
    - package-manager
