---
- name: config dnf
  hosts: localhost
  become: yes
  tasks:
    - name: configure dnf for faster downloads
      blockinfile:
        path: /etc/dnf/dnf.conf
        block: |
          max_parallel_downloads=20
          fastestmirror=True
          deltarpm=True
        marker: "# {mark} ANSIBLE MANAGED BLOCK"

- name: update
  hosts: localhost
  become: yes
  tasks:
    - name: update
      dnf:
        name: "*"
        state: latest

- name: install base system packages
  dnf:
    name:
      - curl
      - wget
      - ufw
      - zram-generator
      - tlp
      - git
      - htop
      - dnf-plugins-core
      - python3
      - python3-pip
    state: present
