---
- name: config dnf
  ansible.builtin.blockinfile:
    path: /etc/dnf/dnf.conf
    block: |
      max_parallel_downloads=20
      fastestmirror=True
      deltarpm=True
    marker: "# {mark} ANSIBLE MANAGED BLOCK"


- name: update all package
  ansible.builtin.dnf:
    name: "*"
    state: latest

- name: install base system packages
  ansible.builtin.dnf:
    name:
      - curl
      - wget
      - zram-generator
      - git
      - htop
      - dnf-plugins-core
      - python3
      - python3-pip
      - firewalld
    state: present
