---
# SPDX-License-Identifier: MIT-0
# Common role - Main entry point
# This role configures the base system with:
# - DNF package manager optimization
# - System package updates
# - Essential base packages

# DNF Configuration
- name: Configure DNF package manager
  ansible.builtin.import_tasks: dnf.yml
  tags:
    - common
    - dnf

# System Update
- name: Perform system update
  ansible.builtin.import_tasks: system-update.yml
  tags:
    - common
    - system-update

# Base Packages Installation
- name: Install base packages
  ansible.builtin.import_tasks: packages.yml
  tags:
    - common
    - packages
