---
# SPDX-License-Identifier: MIT-0
# System maintenance tasks

- name: Enable SSD Trimming (fstrim)
  ansible.builtin.systemd:
    name: fstrim.timer
    enabled: true
    state: started
  become: true
  failed_when: false
  tags:
    - maintenance
    - ssd

- name: Install DNF Automatic (Security Updates)
  ansible.builtin.dnf:
    name: dnf-automatic
    state: present
  become: true
  when: ansible_os_family == "RedHat"
  tags:
    - maintenance
    - security
    - updates

- name: Enable DNF Automatic Timer
  ansible.builtin.systemd:
    name: dnf-automatic.timer
    enabled: true
    state: started
  become: true
  failed_when: false
  tags:
    - maintenance
    - security
    - updates
