---
# SPDX-License-Identifier: MIT-0
# Repository configuration tasks

- name: Check if RPM Fusion free repository is installed
  ansible.builtin.shell: rpm -q rpmfusion-free-release
  register: common_rpmfusion_free_check
  changed_when: false
  failed_when: false
  tags:
    - repositories
    - rpm-fusion

- name: Install RPM Fusion free repository
  ansible.builtin.dnf:
    name: "{{ common_rpm_fusion_free_url }}"
    disable_gpg_check: true
    state: present
  when:
    - common_enable_rpm_fusion | bool
    - common_rpmfusion_free_check.rc != 0
  become: true
  tags:
    - repositories
    - rpm-fusion

- name: Check if RPM Fusion nonfree repository is installed
  ansible.builtin.shell: rpm -q rpmfusion-nonfree-release
  register: common_rpmfusion_nonfree_check
  changed_when: false
  failed_when: false
  tags:
    - repositories
    - rpm-fusion

- name: Install RPM Fusion nonfree repository
  ansible.builtin.dnf:
    name: "{{ common_rpm_fusion_nonfree_url }}"
    disable_gpg_check: true
    state: present
  when:
    - common_enable_rpm_fusion | bool
    - common_rpmfusion_nonfree_check.rc != 0
  become: true
  tags:
    - repositories
    - rpm-fusion

- name: Install app-stream metadata
  ansible.builtin.dnf:
    name: "@core"
    state: present
  become: true
  when: common_enable_rpm_fusion | bool
  tags:
    - repositories
    - rpm-fusion

- name: Check if Terra repository is installed
  ansible.builtin.shell: rpm -q terra-release
  register: common_terra_check
  changed_when: false
  failed_when: false
  tags:
    - repositories
    - terra

- name: Install Terra repository
  ansible.builtin.dnf:
    name: "terra-release"
    disable_gpg_check: true
    enablerepo: "{{ common_terra_repo }}"
    state: present
  when:
    - common_enable_terra_repo | bool
    - common_terra_check.rc != 0
  become: true
  tags:
    - repositories
    - terra