---
- name: Add Docker CE repository (Fedora)
  become: true
  ansible.builtin.yum_repository:
    name: docker-ce-stable
    description: Docker CE Stable - Fedora
    baseurl: https://download.docker.com/linux/fedora/$releasever/$basearch/stable
    enabled: true
